<div class="relative flex flex-row p-7 font-bold bg-[#1E201E] text-white">
    <div class="flex space-x-4">
      <a routerLink="" fragment="home" routerLinkActive="bg-white text-black" [routerLinkActiveOptions]="{ exact: true }" class="text-sm w-24 text-center border border-[#ECDFCC] border-2 rounded-2xl p-1 hover:bg-white hover:text-[#1E201E]" >
        SHOP
      </a>
      <a routerLink="/about" routerLinkActive="bg-white text-black" class="text-sm border border-[#ECDFCC] border-2 rounded-2xl p-1 hover:bg-white hover:text-[#1E201E] w-24 text-center">
        ABOUT
      </a>
    </div>
    <h1 class="absolute left-1/2 transform -translate-x-1/2 text-xl"> MY SHOPPING APP</h1>
    <a routerLink="/cart" routerLinkActive="bg-white text-black" type="button" class="ml-auto text-sm text-center w-24 border border-[#ECDFCC] border-2 rounded-2xl p-1 hover:bg-white hover:text-[#1E201E]" >
      CART
    </a>
  </div>