<div class="flex justify-between p-6 bg-[#facc15] font-bold">
  <div class="flex space-x-4">
    <button type="button" class="border border-black border-4 rounded-xl p-2 hover:bg-black hover:text-white" (click)="navigateHome()">SHOP</button>
    <button type="button" class="border border-black border-4 rounded-xl p-2 hover:bg-black hover:text-white" (click)="navigateToAbout()">ABOUT</button>
  </div>
  <h1 class="text-xl">FIGMA  SHOPPING  APP</h1>
  <p>wait</p>
</div>
<router-outlet></router-outlet>

