<app-topbar></app-topbar>
<div class="flex flex-row space-x-8 justify-center pt-20 pb-10 bg-[#F5F5F5] flex-wrap h-screen">
    <div class="flex flex-col items-center space-y-4">
      <div *ngFor="let img of productList[index].images">
        <img [src]="img" alt="Product Image" class="h-20 w-20 object-cover rounded-2xl cursor-pointer border border-[#697565] border-4 p-1 he-wi" #ref  (click)="loadImage(img,ref)">
      </div>
    </div>
    <div>
      <img [src]="productImg" alt="Main Product Image" class="h-[32rem] w-[32rem] object-cover rounded-2xl container-size">
    </div>
    <div class="flex flex-col space-y-4">
      <h1 class="text-5xl font-bold tracking-in-expand-fwd para-size">{{ productList[index].name|titlecase }}</h1>
      <div>
        <p class="text-sm underline cursor-pointer text-gray-500">Size Guide</p>
      </div> 
      <div class="flex gap-4 flex-wrap">
        <ng-container *ngFor="let size of sizeList">
          <button class="border border-black border-2 h-12 w-12 rounded-full font-bold" #ref (click)="setSize(size,ref)">
            {{ size }}
          </button>
        </ng-container>
      </div>   
      <div class="flex flex-row items-center space-x-4">
        <button class="bg-green-500 text-white py-2 px-4 rounded-lg" (click)="increment()">ADD</button>
        <p class="font-bold text-lg">{{count}}</p>
        <button class="bg-red-500 text-white py-2 px-4 rounded-lg" (click)="decrement()">SUB</button>
      </div>
      <button class="h-12 border border-black border-2 rounded-3xl font-bold hover:bg-[#373A40] hover:text-white" (click)="addingToCart(index)">ADD TO CART</button>
    </div>
</div>
  <!-- <app-bottomdetail></app-bottomdetail> -->
  