<div class="flex flex-col border border-gray-300 w-[32.5rem] p-2 rounded">
    <div class="flex flex-row justify-between mx-2">
      <p class="text-gray-500">Contact</p>
      <p>unjyhbtgvfcdsxdcfvgrthyuj</p>
      <a routerLink="/checkout" class="text-[#22c55e] text-sm underline">Change</a>
    </div>
    <hr class="mx-2 my-2">
    <div class="flex flex-row justify-between mx-2">
      <p class="text-gray-500">Ship to</p>
      <p>unjyhbtgvfcdsxdcfvgrthyuj</p>
      <a routerLink="/checkout" class="text-[#22c55e] text-sm underline">Change</a>
    </div>
</div>
<h1 class="mt-6 text-2xl font-semibold">Shipping method</h1>
<div class="flex flex-row justify-between p-2 border border-gray-300 w-[32.5rem] p-2 rounded mt-4">
<p>International shipping</p>
<p>{{900}}</p>
</div>
<div class="flex flex-row justify-between mt-8">
    <a routerLink="/checkout" class="text-[#22c55e]">< Return to information</a>
    <a class="text-[#22c55e]">Continue payment ></a>
</div>

  
    
